---

---
<section class="site-section bg-light" id="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2><strong>Kontakt</strong></h2>
        </div>
      </div>

      <div class="col-md-6 pl-md-5">
        <h3 class="mb-3  mt-3">Besuche uns im FSR Büro</h3>
        <p>ACHTUNG: Zur Zeit können wir leider keine Besucher_innen in unserem Büro empfangen. Auch auf das Telefon haben wir keinen Zugriff, während der Campus noch geschlossen ist.</p>
        <p>
        Wilhelminenhofstraße 75A<br>
        Gebäude B, Raum 107<br>
        12459 Berlin<br><br>
        Telefon +49 30 50193365</p>
        </div>
        <div class="col-md-6 mb-5 mb-md-0">
          <h3 class="mb-3  mt-3">Sprechzeiten im SoSe 2020</h3>
          <p>ACHTUNG: Für das Sommersemester 2020 stehen noch keine Sprechzeiten fest!</p>
          <p>Bei Bedarf kannst du uns aber gerne schreiben und wir vereinbaren einen individuellen Termin</p>
    </div>
  </div>
    <div class="row">
  <div class="col-md-12 pl-md-5">
        <h3 class="mb-3 mt-5">Schreib uns</h3>
      </div>
      <div class="col-md-6 pl-md-5">
        <p>Wenn ihr Fragen, Wünsche, Anregungen, Probleme, Feedback oder sonst irgendwelche Dinge habt, schreibt uns gern! Wir freuen uns über jede Nachricht.</p>
        <p>Wenn ihr bei Veranstaltungen helfen oder im Fachschaftsrat mitmachen wollt, ist das auch die richtige Adresse.</p>

        <ul class="site-contact-details">
          <li>
            <span class="text-uppercase">Email</span>

            <a href="mailto:fsr-4@lists.htw-berlin.de" class="social-item" target="_blank" ><span class="icon-mail">   fsr-4@lists.htw-berlin.de</span></a>
          </li>
          <li>
            <span class="text-uppercase">Social Media</span>
            <a href="https://www.instagram.com/fsr4.htwberlin/" class="social-item" target="_blank" ><span class="icon-instagram2">   Instagram</span></a>
            <br>
            <a href="https://www.facebook.com/fsr4.htw/" class="social-item" target="_blank" ><span class="icon-facebook">   Facebook</span></a>
          </li>
        </ul>
        <p>Oder trage dich auf unserer <a href="https://lists.htw-berlin.de/mailman/listinfo/fsr4-friends">Mailingliste</a> ein!</p>
      </div>

      <div class="col-md-6 mb-5 mb-md-0">

        <form method="POST" action="https://formspree.io/maywgzep" class="site-form">
          <div class="form-group">
            <input type="text" class="form-control px-3 py-4" name="name" placeholder="Dein Lieblingsname">
          </div>
          <div class="form-group">
            <input type="email" class="form-control px-3 py-4" name="email" placeholder="Irgendeine E-Mail Addresse">
          </div>
          <div class="form-group mb-5">
            <textarea class="form-control px-3 py-4"cols="30" rows="10" name="message" placeholder="Was hast du auf dem Herzen?"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary  px-4 py-3" value="Send Message">
          </div>
        </form>
      </div>
    </div>

</section>