<section class="site-section" id="section-vorlagen">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2><strong>Vorlagen/Dokumente</strong></h2>
          <p class="text-center">Ihr könnt die Antragsvorlage benutzen, um auf einer Sitzung des FSR4 Geld zu beantragen. Bitte schickt uns den ausgefüllten Antrag <a href="#section-contact">per Mail</a> mindestens eine Woche vor der <a href="#section-portfolio">nächsten Sitzung</a> und seid dann bei dieser auch anwesend.</p>
          <p class="text-center">Damit Ihr eine Chance habt, dass das Geld noch vor der geplanten Veranstaltung ausgezahlt wird, müsst Ihr den Vorschussantrag ausfüllen und bei AStA-Finanzen einreichen. Da dies einige Wochen dauern kann, empfehlen wir, dies möglichst weit im Voraus zu tun.</p>
          <p class="text-center">Als letzten Schritt nach der Veranstaltung bitte die Abrechnung nicht vergessen. Diese sollte so schnell wie möglich nach der Veranstaltung vollständig bei uns eingehen. Das heißt also: Quittungen und Zahlungsbelege für alles aufbewahren ;)</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card ml-auto all fb4" style="width: 23%; min-width: 15rem; height: 30rem;">
            <embed src="assets/forms/FSR4_Antragsvorlage.pdf" class="card-img-top" alt="Antragsvorlage">
            <div class="card-body d-flex flex-column text-center">
              <h5 class="card-title">Antragsvorlage</h5>
              <a href="assets/forms/FSR4_Antragsvorlage.pdf" target="_blank" download class="btn btn-primary mt-auto">Download</a>
            </div>
          </div>
        </div>

          <div class="col-sm-6">
          <div class="card mr-auto" style="width: 23%; min-width: 15rem; height: 30rem;">
            <embed src="assets/forms/FSR4_Vorschussantrag.pdf" class="card-img-top" alt="Vorschussantrag">
            <div class="card-body d-flex flex-column text-center">
              <h5 class="card-title">Vorschussantrag</h5>
              <a href="assets/forms/FSR4_Vorschussantrag.pdf" target="_blank" download class="btn btn-primary mt-auto">Download</a>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>
