<section>
  <section class="site-section" id="section-portfolio">
    <div class="container">
      <div class="row">
        <div class="section-heading text-center col-md-2"></div>
        <div class="section-heading text-center col-md-8">
          <h2><strong>Veranstaltungen</strong></h2>
          <p class="lead">Sommersemester 2021</p>
          <p class="card-text">
            Die Protokolle unserer Sitzungen und einige andere Informationen findet ihr
            <a href="https://wiki.htw-berlin.de/confluence/display/fachschaftsrat4/Fachschaftsrat+4+Startseite">im Wiki der HTW</a>.
            Dort könnt ihr euch mit dem selben Log-In wie zum Beispiel in LSF, Moodle, etc. anmelden.
          </p>
        </div>
        <div class="section-heading text-center col-md-2"></div>
      </div>
      <div class="filters">
        <ul>
          <li class="active" data-filter="*">All</li>
          <li data-filter=".htw">HTW Weit</li>
          <li data-filter=".fb4">Fachbereich 4</li>
          <li data-filter=".sg">Studiengangsspezifisch</li>
          <li data-filter=".sitzung">FSR4 Sitzungen (offen für alle!)</li>
        </ul>
      </div>

      <div class="filters-content container">
        <div class="row event-filter justify-content-center">

          {% for event in site.events %}
            <div class="card m-2 all {{ event.tag }} event-card" data-date="{{ event.date | date_to_long_string }}" style="width: 23%; min-width: 15rem; height: 27rem;">
              <img src="{{ event.image }}" class="card-img-top" alt="{{ event.image_alt }}">
              <div class="card-body d-flex flex-column">
                <p class="card-text m-0">
                  <span class="icon-calendar"></span>
                  {{ event.date | date_to_long_string }}
                </p>
                {% if event.time %}
                <p class="card-text m-0">
                  <span class="icon-clock"></span>
                  {{ event.time }}
                </p>
                {% endif %}
                <p class="card-text">
                  <span class="icon-location-pin"></span>
                  {{ event.location }}
                </p>
                <h5 class="card-title">{{ event.title }}</h5>

                {% if event.registration_link %}
                  <a href="{{ event.registration_link }}" class="btn btn-primary mt-auto">Anmeldung</a>
                {% elsif event.link %}
                  <a href="{{ event.link }}" class="btn btn-primary mt-auto">Zum Event</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}


        </div>
      </div>
    </div>
  </section>
</section>
<hr/>
