<section class="site-section" id="section-helfen">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2><strong>Helfen</strong></h2>
          <p class="text-center"><strong>Es gibt viele verschiedene Wege, wie du uns helfen kannst!</strong></p>
        </div>
      </div>

      <div class="col-md-6 pl-md-5">
        <h3 class="mb-3  mt-3">Hilf uns bei Veranstaltungen</h3>
        <p>Hast du eine <a href="#section-portfolio">Veranstaltung</a> gesehen oder von einer gehört, bei der du uns gerne helfen möchtest? Oder möchtest du sogar selbst eine organisieren? <a href="#section-contact">Schreib uns</a>! Wir können immer Menschen gebrauchen, die uns auch einmalig beim Aufbau, Abbau oder sonstigen Dingen wie Bar oder Grill helfen können.</p>
      </div>
      <div class="col-md-6 mb-5 mb-md-0">
        <h3 class="mb-3  mt-3">Komm zu Sitzungen</h3>
        <p>Wenn du regelmäßig alle 2 Wochen zu Sitzungen kommen oder nur einmal vorbei schauen möchtest: komm dazu! Den nächsten Termin findest du bei <a href="#section-portfolio">Veranstaltungen</a>. Damit wir die Verpflegung angemessen planen können, melde dich bitte per Mail bei uns an.</p>
      </div>

      <div class="col-md-12 text-center mt-5">
        <a href="https://lists.htw-berlin.de/mailman/listinfo/fsr4-friends" target="_blank" class="btn btn-primary mt-auto">Auf der Mailingliste eintragen!</a>
      </div>
    </div>
  </div>
</section>
