<section class="site-hero" style="background-image: url(assets/images/Fotos/FB4_Sommerfest_44.jpg); height: auto; min-height: 100vh; display: block; overflow: auto" id="section-home" data-stellar-background-ratio="0.5">
  <div class="container mt-5 mb-5">
    <div class="row intro-text align-items-center justify-content-center mt-5 mb-5">
      <div class="col-md-10 text-center mt-5 mb-5">
        <h1 class="site-heading site-animate"><strong>Fachschaftsrat 4</strong><br>der HTW Berlin.</h1>
        <p class="lead site-subheading mb-4 site-animate" style="color: white !important;">Wir sind Ansprechpartner_innen für alle Studierenden des Fachbereich 4 - Informatik, Kommunikation und Wirtschaft der <a href="https://www.htw-berlin.de/en/">HTW Berlin</a>.</p>
        <p><a href="#section-infos" class="smoothscroll btn btn-primary px-3 py-1">Mehr Infos</a></p>
        <p class="lead site-subheading mb-4 site-animate" style="color: white !important;">
          ACHTUNG - Bald sind Wahlen! Ihr könnt entweder vom <strong>21.09.2020 bis 02.10.2020</strong> an den Standorten der HTW, oder ganz bequem von Zuhause per Briefwahl abstimmen. Die Briefwahl müsst Ihr aber bis zum <strong>02.09.2020, 14 Uhr</strong> per Mail an Heike.Guethling@HTW-Berlin.de unter Angabe von Name, Adresse und Fachbereich beantragen! <br>
        </p>
        <p><a class="btn btn-primary px-3 py-1" href="mailto:Heike.Guethling@HTW-Berlin.de?subject=Beantragung%20Briefwahlunterlagen&body=Liebe%20Frau%20Güthling,%0D%0A%0D%0Afür%20die%20folgende%20Gremienwahl%20beantrage%20ich%20Briefwahl.%0D%0AName:%0D%0AVorname:%0D%0AStraße:%0D%0APLZ,%20Ort:%0D%0AFachbereich:%0D%0A%0D%0AVielen%20Dank%20für%20die%20Arbeit%20und%20einen%20schönen%20Tag%20wünscht,">Breifwahl Beantragen</a>
        </p>
      </div>
    </div>
  </div>
</section>
