<section class="site-hero" style="background-image: url(assets/images/Fotos/FB4_Sommerfest_44.jpg);" id="section-home" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row intro-text align-items-center justify-content-center">
      <div class="col-md-10 text-center">
        <h1 class="site-heading site-animate"><strong>Fachschaftsrat 4</strong><br>der HTW Berlin.</h1>
        <p class="lead site-subheading mb-4 site-animate">Wir sind Ansprechpartner_innen für alle Studierenden des Fachbereich 4 - Informatik, Kommunikation und Wirtschaft der <a href="https://www.htw-berlin.de/en/">HTW Berlin</a>.</p>
        <p><a href="#section-infos" class="smoothscroll btn btn-primary px-4 py-3">Mehr Infos</a></p>
      </div>
    </div>
  </div>
</section>
