---

---
<section class="site-section mb-0 pb-0" id="section-infos">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-2 pr-lg-1">
      </div>
      <div class="col-lg-8 pl-lg-8">
        <div class="section-heading text-center">
          <h2>Über <strong>Uns</strong></h2>
        </div>
        <p class="lead text-center">Hallo! Schön, dass du den Weg auf unsere Webseite gefunden hast.</p>
        <p class="text-center">Wir sind Ansprechpartner_innen für alle Studierenden des Fachbereich 4 - Informatik, Kommunikation und Wirtschaft der <a href="https://www.htw-berlin.de/en/">HTW Berlin</a>.
                        Wir helfen euch bei Problemen rund ums Studium, organisieren Events und unterstützen studentische Veranstaltungen bei der Organisation und Finanzierung.</p>
        <p class="text-center">Unser regulärer Sitzungstermin im Sommersemester 2020 ist alle 2 Wochen Montags ab 18 Uhr über BigBlueButton und Moodle. Den Link bekommst du bei uns auf <a href="#section-contact">Nachfrage</a>. Unsere Sprechzeiten findest du <a href="#section-contact">hier</a>.</p>
        <p class="mb-5 text-center">Für das Sommersemester 2020 stehen regelmäßige Sprechzeiten noch nicht fest. Diese werden aber zeitnah ergänzt. Bis dahin könnt ihr für persönliche Sprechzeiten einfach einen Termin mit uns <a href="#section-contact">vereinbaren</a>.</p>
        <p class="align-items-center text-center">
          <a href="#section-portfolio" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Schau vorbei</a>
          </p>
        <p class="align-items-center text-center">
          <a href="#section-contact" class="btn btn-secondary px-4 py-2 btn-sm smoothscroll">Schreib uns</a>
        </p>
      </div>
      <div class="col-lg-2 pr-lg-1">
      </div>
    </div>
  </div>
</section>

<section class="site-section">
  <div class="container">
    <div class="row mb-5 align-items-center"><div class="col-lg-2 pr-lg-1">
    </div>
    <div class="col-lg-8 pl-lg-8">
      <div class="section-heading text-center">
        <h2>Liebe <strong>Erstis</strong>...</h2>
      </div>
        <p class="align-items-center text-center">
          <iframe src="https://mediathek.htw-berlin.de/media/embed?key=15512c96eedb6d4507004cc141c129f6&width=350&height=197&autoplay=false&autolightsoff=false&loop=false&chapters=false&related=false&responsive=false&t=0" data-src="" id="fsr_video" class="iframeLoaded" width="350" height="197" frameborder="0" allowfullscreen="allowfullscreen" allowtransparency="true" scrolling="no"></iframe>
        </p>
    </div>
    <div class="col-lg-2 pr-lg-1">
    </div>
    </div>
  </div>
</section>