<section class="site-section bg-light" id="section-klausuren">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2><strong>Klausursammlung</strong></h2>
        </div>
      </div>

      <div class="col-md-6 pl-md-6">
        <h3 class="mb-3  mt-3">Du hast Klausuren aus den letzten Semestern? Schick sie uns!</h3>

        <form method="POST" action="https://formspree.io/xgeljokp" enctype="multipart/form-data" class="site-form">
          <div class="form-group mt-5">
            <input type="text" class="form-control px-3 py-4" name="studiengang" placeholder="Studiengang (IMI(B), WiKo(M), ...)">
          </div>
          <div class="form-group">
            <input type="text" class="form-control px-3 py-4" name="kurs" placeholder="Kurs (B1 Informatik 1, M3 Empirie, ...)">
          </div>
          <div class="form-group mb-5">
            <label>Die Klausur: <input type="file" name="upload"></label>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary  px-4 py-3" value="Klausur einschicken">
          </div>
        </form>
      </div>

      <div class="col-md-6 pl-md-6">
        <h3 class="mb-3  mt-3">Du möchstest in unsere Klausursammlung schauen?</h3>
        <p class="mt-5">Schicke uns von deinem HTW-Account eine <a href="mailto:fsr-4@lists.htw-berlin.de?subject=[FSR4%20Klausursammlung]%20<DeinStudiengang(B/M)>%20<DeinFach>%20<DeineLehrperson>&body=Hallo,%0D%0Aich%20würde%20gern%20Einsicht%20in%20die%20Klausuren%20nehmen%20(Infos%20im%20Betreff).%0D%0AGrüße">Mail mit dem Betreff "[FSR4 Klausursammlung] Studiengang(B/M) DeinFach DeineLehrperson"</a> oder schau in einer unserer <a href="#section-contact">Sprechsutnden</a> persönlich vorbei.</p>
        </div>

      </div>

    </section>
