<nav class="navbar navbar-expand-lg site-navbar navbar-light bg-light" id="pb-navbar">
  <div class="container align-items-baseline">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="index.html">
      <img src="assets/images/fsr4_logo_whitebg_xs.png" alt="Logo FSR4" height="50" width="50">
    </a>
    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav flex-wrap">
        <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#section-infos">Infos</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="memberDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mitglieder
          </a>
          <div class="dropdown-menu" aria-labelledby="memberDropdown">
            <a href="#section-members" class="dropdown-item">Aktuelle Mitglieder</a>
            <a href="/alumni" class="dropdown-item dropdown-item-link" data-link="{{ site.url }}/alumni">Alumni</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Veranstaltungen
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#section-portfolio">Veranstaltungen</a>
            <a class="dropdown-item" href="#section-helfen">Helfen</a>
            <a class="dropdown-item dropdown-item-link" href="/traumwerkstatt" data-link="{{ site.url }}/traumwerkstatt">Traumwerkstatt</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="#section-klausuren">Klausursammlung</a></li>
        <li class="nav-item"><a class="nav-link" href="#section-vorlagen">Vorlagen/Dokumente</a></li>
        <li class="nav-item"><a class="nav-link" href="#section-contact">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>
