.resume-item {
  color: #959ca3;
  width: 30vw;
  padding: 40px;
  margin-left: 12px;
  margin-right: 12px;
  background: #fff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border: 4px solid transparent; }
  .resume-item:hover, .resume-item:focus {
    border: 4px solid #76B900;
    -webkit-box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); }
  .resume-item .date {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: .1em;
    color: #b3bdc6;
    text-transform: uppercase; }
  .resume-item h3, .resume-item .school {
    color: #2c3e50; }

.resorts {
  color: #959ca3;
  padding: 40px;
  margin-left: 12px;
  margin-right: 12px;
  background: #fff;
}

hr {
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 50%
}
